<!DOCTYPE html>
<html lang="pt"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:portal="http://portal.sindifisco.com">

<body>
		<!-- footer content -->
        <footer th:fragment="layout-footer">
          <div class="pull-right">
           Portal Transparência - Desenvolvido por  <a href="http://www.sis7.com.br">Sis7 - Aplicações Web</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
</body>
</html>