<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
<th:block th:fragment="pagination (pagina)">

		
		
		
	<div class="col-sm-12  text-right" th:if="${not pagina.vazia}">
		<div class="col-sm-4  text-left pagination pagination-sm">
			<div>Mostrando <span class="badge bg-blue" th:text="${pagina.total}"></span> páginas com um total de  <span class="badge bg-blue" th:text="${pagina.totalRegistros}"></span> registros.</div>
		</div>
		<nav>
		
		
			<ul class="pagination  pagination-sm" th:with="paginaAtual=${pagina.atual}">
				
				
				<li th:class="${pagina.primeira} ? disabled">
					<span th:if="${pagina.primeira}">Primeira</span>
					<a th:if="${not pagina.primeira}" th:href="${pagina.urlParaPagina(0)}">Primeira</a>	
				</li>
				
				<li th:class="${pagina.primeira} ? disabled">
					<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag"><span>&laquo;</span></a>
				</li>
				
				<th:block th:each="p : ${pagina.linksNegativos()}" th:with="numeroPagina=${p - 1}">
					<li th:class="${paginaAtual == numeroPagina} ? active">
						<a th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
					</li>
				</th:block>
				
				<th:block th:each="p : ${pagina.linksPositivos()}" th:with="numeroPagina=${p - 1}">
					<li th:class="${paginaAtual == numeroPagina} ? active">
						<a th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
					</li>
				</th:block>
				
				<li th:class="${pagina.ultima} ? disabled">
					<a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag"><span>&raquo;</span></a>
				</li>
				
				<li th:class="${pagina.ultima} ? disabled">
					<span th:if="${pagina.ultima}">Última</span>
					<a th:if="${not pagina.ultima}" th:href="${pagina.urlParaPagina(pagina.total-1)}">Última</a>	
				</li>
			</ul>
		</nav>
	</div>
</th:block>
	
</html>
